* {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: #e6e6e6;
}
header {
  background-color: #4c6aff;
}
.head {
  height: 60px;
  line-height: 60px;
  max-width: 1070px;
  margin: auto;
}
.head > * {
  vertical-align: top;
  display: inline-block;
  margin-left: 30px;
}
.logo {
  text-decoration: none;
  color: #fff;
  font-size: 39px;
  text-transform: uppercase;
}
.headerBTN {
  background-color: #3b53c9;
  padding: 0 30px;
  text-decoration: none;
  color: #fff;
}
.avatar {
  height: 40px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 12px;
}
#search {
  height: 30px;
  padding: 0 15px;
  border: none;
  border-radius: 7px;
  margin-top: 15px;
  width: calc(100% - 650px);
  color: #303030;
}
.userbar {
  height: 60px;
  line-height: 60px;
  text-decoration: none;
  color: #fff;
  float: right;
  margin-right: 30px;
}
.wrapper {
  max-width: 1070px;
  box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.1);
  height: calc(100% - 60px);
  margin: auto;
}
.container {
  height: 100%;
  background-color: #fff;
  width: 213px;
  vertical-align: top;
  display: inline-block;
  box-shadow: 0px 4px 10px 2px rgba(0,0,0,0.1);
  color: #313131;
  font-size: 22px;
  font-weight: 500;
}
.container > * {
  padding: 0 36px;
}
.container p:first-child {
  padding-top: 30px;
}
.content {
  width: calc(100% - 213px - 60px);
  vertical-align: top;
  display: inline-block;
  height: calc(100% - 60px);
  background-color: #f0f0f0;
  float: right;
  padding: 30px;
}
.widgetsTitle {
  font-size: 22px;
  font-weight: bold;
  color: #303030;
}
